---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Me" description="Lorem ipsum dolor sit amet">
    <h1 class="page-title">About Me</h1>
    <p>
        苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透
        苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透
        苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透
        苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透
        苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透
        苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透
        苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透
        苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透
        苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透
        苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透
        苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透苦透
    </p>
</BaseLayout>

<style>
    .page-title {
        font-size: 2rem;
        margin-top: 0;
        font-family:
            HiraMinProN-W6, "Source Han Serif CN", "Source Han Serif SC",
            "Source Han Serif TC", serif;
        color: var(--text);
    }

    p {
        margin-bottom: 1.2em;
        line-height: 1.7;
    }
</style>
